* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: darkgray;
}

#header {
    height: 130px;
    width: 100%;
    /* background-color: red; */
    position: fixed;
}

#nav-list-parent {

    display: flex;
    /* align-items: start; */
    /* justify-content: center; */
    gap: 20px;
    background-color: rgba(50, 219, 163, 0.586);

}

.nav-list {
    padding: 5px;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
    margin-top: 10px;
}
#home{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#home #home-left{
    height: 500px;
    width: 50%;
    /* background-color: red; */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
#home #home-left h2{
    
    font-size: 50px;
    font-weight: 800;

}
#home #home-left h2 span{
    color: rgb(60, 19, 184);
}
#home #home-right{
    height: 600px;
    width: 40%;
    /* background-color: red; */
    /* border: 1px solid blue; */
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}   
#home #home-right img{
    margin-top: 60px;
    height: 660px;
    object-fit: cover;
    border-radius: 20px;
   /* z-index: -1; */
    
}
#work{
    height: 100vh;
    width: 100%;
}

.pageheader{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}
.wbox{
    border: 1px solid #fff;
    height: 230px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    
}
.wbox img{
    height: 230px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    
}
#about{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
#about #aleft{
    height: 100%;
    width: 400px;
    /* border: 1px solid #fff; */
    border-radius: 20px;
}
#about #aleft img{
    height: 660px;    
    margin-bottom: 0;
    
}
#about #aright{
    height: 500px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#about #aright h2{
    font-size: 50px;
    margin-bottom: 20px;
}
#about #aright p{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
#skills{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sleft{
    height: 100%;
    width: 50%;
    text-align: center;
    margin-top: 500px;
    text-align: start;
    line-height: 80px;
}
#sright{
    height: 800px;
    width: 400px    ;
    margin-top: 500px;
}
#sright img{
    height: 400px;
    width: 500px;
    text-align: center;
    object-fit: cover;
    border-radius: 20px;
}
#contact{
    height: 60vh;
    width: 100%;
}
.cbox{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contact .cbox input{
    border: 1px solid blue;
    border-radius: 20px;
    margin: 10px;
    padding: 15px 50px;
}
#contact .cbox button{
    border: 1px solid red;
    margin: 20px;
    border-radius: 40px;
    padding:5px 20px ;
}